section
  h1= title
  h2= description
  img.logo(src="img/lgp.png")
  h3= author
section
  h2 Introductions
section
  h2 What we're here for
section
  h2 What do you know already?
section
  h2 The basics
section
  h2 Any surprises so far?
section
  h2 Problem 1: Automation
section
  h2 Problem 2: Depletion of resources
section
  h2 How could CI help?
section
  h2 What would you do with £175 a week?
section
  h2 Where does the money come from?
section
  iframe(width="1200" height="600" src="https://www.youtube.com/embed/qlwyTtPY0vY?ecver=1" frameborder="0" allowfullscreen)
section
  h2 Questions?
section
  h2 What we were here for
section
  h2 Find out more
